$font1: 'Josefin Sans', sans-serif;
$font2: 'VarelaRound', sans-serif;
$font3: 'Lora', serif;

$backgroundColorTopbar: white;
$backgroundColorSidebar: #fdfdfd;
$backgroundColorButton: teal;

$titleColor: #444;
$titleColor2: #222;
$titleColorSettings: lightcoral;
$titleColorDelete: red;
$bodyColor: #666;
$descColor: #be9656;
$dateColor: #999;
$buttonColor: white;
$loginButton: lightcoral;
$loginButtonDisabled: rgb(241, 163, 163);
$successText: green;

$editIconColor: teal;
$deleteIconColor: tomato;

$borderColor: #a7a4a4;
